{% extends "base.html" %}  
{% block content %}
<div class="container">
    <h1 class="text-center mb-5 larger-h1">{{this_recipe.name}}</h1>
    <div class="row-12">
        <div class="col-12 d-flex justify-content-center">
            <img class="image-view-one" src="{{this_recipe.image_path}}" alt="">
        </div>
    </div>
    <div class="row-12 d-flex justify-content-center">
        <div class="col-4 bg-light p-5 ingredients">
            <p>Ingredients:</p>
            <!-- {% if this_recipe.ingredients %}
                {{this_recipe.ingredients.split(", ")}}
                    <p>{{this_recipe.ingredients.split(", ")}}</p>
            {% endif %} -->
            <ul>
                {% for ingred in this_recipe.ingredients.split(", ") %} 
                    <li>{{loop.index}}.) {{ingred}}</li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="row-12 d-flex justify-content-center mt-5">
        <div class="col-8 bg-light p-5">
            <h1 class="text-center mb-5">Instructions</h1>
            {% for step in this_recipe.instructions.split(", ") %} 
            <h4 class="text-center mb-5">{{loop.index}}.) {{step}}</h4>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}