<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav >
        <h1>Sasquatch Websighting</h1>
        <H2>{{user.first_name}} {{user.last_name}}</H2>
        <div>
            <a href="/new/sighting">Report Sighting</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <div>
        <H1>Reported Sightings</H1>
        <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Date Made</th>

                </tr>
            </thead>
            <tbody>
                {% for sighting in sightings %}
                    <tr>
                        <td>{{sighting.location}}</td>
                        <td>{{sighting.date_made}}</td>
                        <td>
                            <p>Reported By: {{user.first_name}} {{user.last_name}}</p>
                        </td>
                        <td>
                            {% if sighting.user_id == session.user_id %}
                            <a href="/edit/sighting/{{sighting.id}}">Edit</a>
                            <a href="/destroy/sighting/{{sighting.id}}">Delete</a>
                            {% endif %}
                            {% if sighting.user_id != session.user_id %}
                            <a href="/sighting/{{sighting.id}}">View Sighting</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>